pipeline/PP_Sample.json
{
	"name": "PP_Sample",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Apr06",
						"type": "DatasetReference",
						"parameters": {
							"X_Contariner": {
								"value": "@pipeline().parameters.Pa_Container",
								"type": "Expression"
							},
							"X_Input": {
								"value": "@pipeline().parameters.Pa_Input",
								"type": "Expression"
							},
							"X_Filename": {
								"value": "item().name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Apr06",
						"type": "DatasetReference",
						"parameters": {
							"X_Contariner": {
								"value": "@pipeline().parameters.Pa_Container",
								"type": "Expression"
							},
							"X_Input": {
								"value": "@pipeline().parameters.Pa_Input",
								"type": "Expression"
							},
							"X_Filename": {
								"value": "@pipeline().parameters.Pa_Filename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy data2",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_Apr06",
						"type": "DatasetReference",
						"parameters": {
							"X_Contariner": {
								"value": "@pipeline().parameters.Pa_Container",
								"type": "Expression"
							},
							"X_Input": {
								"value": "@pipeline().parameters.Pa_Output",
								"type": "Expression"
							},
							"X_Filename": {
								"value": "@pipeline().parameters.Pa_Filename",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Apr06",
						"type": "DatasetReference",
						"parameters": {
							"X_Contariner": {
								"value": "@pipeline().parameters.Pa_Container",
								"type": "Expression"
							},
							"X_Input": {
								"value": "@pipeline().parameters.Pa_Output",
								"type": "Expression"
							},
							"X_Filename": {
								"value": "@pipeline().parameters.Pa_Filename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": []
			}
		],
		"parameters": {
			"Pa_Container": {
				"type": "string",
				"defaultValue": "storageadls2"
			},
			"Pa_Input": {
				"type": "string",
				"defaultValue": "project/input"
			},
			"Pa_Output": {
				"type": "string",
				"defaultValue": "project/output"
			},
			"Pa_Filename": {
				"type": "string",
				"defaultValue": "SalesLTAddress.txt"
			}
		},
		"annotations": []
	}
}