pipeline/PP_ToCopydata_Meta.json
{
	"name": "PP_ToCopydata_Meta",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Data_set_3",
						"type": "DatasetReference",
						"parameters": {
							"Z_Container": {
								"value": "@pipeline().parameters.P_Cotainer",
								"type": "Expression"
							},
							"Z_Input": {
								"value": "@pipeline().parameters.P_Input",
								"type": "Expression"
							},
							"ZOutput": {
								"value": "@pipeline().parameters.P_Output",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Seprating",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@split(item().name,'.')[1]",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "txt",
										"activities": [
											{
												"name": "Copy data1",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "DelimitedTextSink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														},
														"formatSettings": {
															"type": "DelimitedTextWriteSettings",
															"quoteAllText": true,
															"fileExtension": ".txt"
														}
													},
													"enableStaging": false,
													"translator": {
														"type": "TabularTranslator",
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "dataset_1",
														"type": "DatasetReference",
														"parameters": {
															"ds_container": {
																"value": "@pipeline().parameters.P_Cotainer",
																"type": "Expression"
															},
															"ds_filename": {
																"value": "@item().name",
																"type": "Expression"
															},
															"ds_directory_input": {
																"value": "@pipeline().parameters.P_Input",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "dataset_1",
														"type": "DatasetReference",
														"parameters": {
															"ds_container": {
																"value": "@pipeline().parameters.P_Cotainer",
																"type": "Expression"
															},
															"ds_filename": {
																"value": "@item().name",
																"type": "Expression"
															},
															"ds_directory_input": "output/txt/"
														}
													}
												]
											}
										]
									},
									{
										"value": "csv"
									}
								]
							}
						}
					]
				}
			}
		],
		"parameters": {
			"P_Cotainer": {
				"type": "string",
				"defaultValue": "storageadls2"
			},
			"P_Input": {
				"type": "string",
				"defaultValue": "project/input"
			},
			"P_Output": {
				"type": "string",
				"defaultValue": "project/output"
			},
			"P_Archeive": {
				"type": "string",
				"defaultValue": "project/archive"
			}
		},
		"annotations": []
	}
}