pipeline/Second.json
{
	"name": "Second",
	"properties": {
		"activities": [
			{
				"name": "Meta_1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "dataset_1",
						"type": "DatasetReference",
						"parameters": {
							"ds_container": {
								"value": "@pipeline().parameters.pp_container",
								"type": "Expression"
							},
							"ds_filename": {
								"value": "@pipeline().parameters.pp_filetype",
								"type": "Expression"
							},
							"ds_directory_input": {
								"value": "@pipeline().parameters.pp_input",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Exe_Pipeline_1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PP_1",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pp_container": {
										"value": "@pipeline().parameters.pp_container",
										"type": "Expression"
									},
									"pp_input": {
										"value": "@pipeline().parameters.pp_input",
										"type": "Expression"
									},
									"pp_output": {
										"value": "@pipeline().parameters.pp_output",
										"type": "Expression"
									},
									"pp_archive": {
										"value": "@pipeline().parameters.pp_archive",
										"type": "Expression"
									},
									"pp_filename": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Meta_1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"typeProperties": {
					"items": {
						"value": "@activity('Meta_1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'txt')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"pp_container": {
				"type": "string",
				"defaultValue": "storageadls2"
			},
			"pp_input": {
				"type": "string",
				"defaultValue": "project/input"
			},
			"pp_output": {
				"type": "string",
				"defaultValue": "project/output"
			},
			"pp_archive": {
				"type": "string",
				"defaultValue": "project/archive"
			},
			"pp_filetype": {
				"type": "string",
				"defaultValue": "txt"
			}
		},
		"annotations": []
	}
}